name: Java CI с Gradle

on: [push, pull_request]

jobs:
 build:

  runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v3
    - name: Настройка JDK 11
      uses: actions/setup-java@v3
      with:
         java-version: '11'
         distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Start SUT
      run: java -jar ./artifacts/app-mbank.jar &
    - name: Bulid with Gradle
      run: ./gradlew test --info