name: Java CI с Gradle

on: [push, pull_request]

jobs:
  build:

  runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Настройка JDK 11
        uses: actions/setup-java@v2
        with:
  версия Java: '11'
    дистрибутив: 'adopt'
  — название: Предоставьте разрешение на выполнение для gradlew
    запуск: chmod +x gradlew
    - name: Запустить SUT
        # Запускаем SUT,
        # имя файла SUT будет отличаться в каждой задаче.
        # & означает, что в фоновом режиме терминал не блокируется для запуска тестов,
        # обязательно для запуска SUT в CI
        run: java -jar ./artifacts/app-mbank.jar &
    - name: Сборка с помощью Gradle
        # Запускаем автотесты
        # Для проектов на базе Selenide необходимо добавить параметр для запуска браузера
        # в режиме без головы -Dselenide.headless=true, параметр --info должен остаться
        run: ./gradlew test --info