name: Java CI с Gradle

on: [push, pull_request]

jobs:
  build:

  runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Настройка JDK 11
        uses: actions/setup-java@v2
        with:
  версия Java: '11'
    дистрибутив: 'adopt'
  — название: Предоставьте разрешение на выполнение для gradlew
    запуск: chmod +x gradlew
    - name: Запустить SUT
        run: java -jar ./artifacts/app-mbank.jar &
    - name: Сборка с помощью Gradle
        run: ./gradlew test --info